.box1{
    width:150px;
    height:150px;
    background:red;
    left:0;
    top:0; 
    position:relative;
    z-index: 10;
}
.box2{
    width:150px;
    height:150px;
    background:green;
    left:50px;
    bottom:50px; 
    position: relative;
    z-index: 17;
}
.box3{
    width:150px;
    height:150px;
    background:blue;
    left:100px;
    bottom:100px;
    position: relative;
    z-index:5;
}# first_project
